<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'home.css' %}">
    </head>
    
<body>
    <h1>Welcome to the Student App Hub</h1>
    <ul>
        <li><a href="/dolist/">To-Do List App</a></li>
        <li><a href="/post/">Image Uploader App</a></li>
        <!-- Add more apps here in the future -->
    </ul>
</body>
</html>
